<div class="panel-wrap catalog" id="j_catalog" style="display: block;">
    <a class="iconfont close-panel" href="javascript:;" onclick="closeCatalog()"></a>
    <div class="panel-box">
        <!-- start 目录书签切换按钮 -->
        <div class="catalog-tab dib-wrap" id="j_catalogTab">
            <span class="lang act">目录</span>
        </div>
        <!-- start 目录书签切换容器-->
        <div id="j_catalogTabWrap">
            <!-- start 目录列表 -->
            <div class="panel-list-wrap catalog-scroll-wrap" id="j_catalogListWrap" style="max-height: 688px;">
                <div class="catalog-list-wrap">

                    <h3><i><em class="iconfont up"></em><em class="iconfont down"></em><cite>作品相关</cite></i></h3>
                    <!-- start 卷列表 -->

                    <div class="volume-list" style="display: none;">
                        <ul>
                            <li id="nav-chapter-375212567">
                                <a href="//read.qidian.com/chapter/rCo0cx0UxW08kjk6dUsm_A2/FuHnavbX_2VOBDFlr9quQA2">谢谢大家的打赏！</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end 卷列表 -->
                    <h3 class="cur"><i><em class="iconfont up"></em><em class="iconfont down"></em><cite>正文卷</cite></i></h3>
                    <!-- start 卷列表 -->
                    <div class="volume-list" style="display: block;" id="showlist">
                        <ul></ul>
                    </div>
                    <!-- end 卷列表 -->
                </div>
            </div>
            <!-- end 目录列表 -->
        </div>
        <!-- end 目录书签切换容器-->
    </div>
</div>