<!DOCTYPE html>
<html lang="zh-cn" class="no-js">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="/assets/search/images/search/fav.png">
	<meta name="author" content="老叶">
	<meta name="description" content="木南青小说站">
	<meta name="keywords" content="小说-木南青">
	<meta charset="UTF-8">
	<title>Munanqing Reader</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i" rel="stylesheet">
	<link href="/assets/search/css/bootstrap.css" rel="stylesheet">
	<script src="/assets/home/js/jquery.min.js"></script>
	<script src="/assets/home/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/assets/search/css/linearicons.css">
	<link href="/assets/search/css/animate.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/search/css/search.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>